body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    background-image: url('./img/Fit4LifeCoverPage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.bmi-calculator {
    background-color: #ddda1b;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.bmi-calculator h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

.bmi-calculator label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.bmi-calculator input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.bmi-calculator select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.bmi-calculator button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.bmi-calculator button:hover {
    background-color: #45a049;
}

.bmi-result {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.bmi-result h2 {
    margin: 0;
}
.container1{
    text-align: center;
}

.underweight {
    color: #FFCC00;
}

.normal {
    color: #4CAF50;
}

.overweight {
    color: #FF9800;
}

.obese {
    color: #f44336;
}
